# Node modules
**/node_modules
**/.next
**/dist

# Environment files
**/.env
**/.env.local

# Build output
**/out
**/.vercel
**/build

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/pnpm-debug.log*
**/logs

# OS files
.DS_Store
Thumbs.db

# Misc
*.lock