@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #171717;
  --brand-navy: #0A1258;
  --brand-blue: #4280FC;
  --brand-aqua: #40e0d0;
  --brand-ink-black: #020216;
  --brand-gold: #B8860B;
}

/* might remove the spacing, default is 0.25rem */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-navy: var(--brand-navy);
  --color-brand-blue: var(--brand-blue);
  --color-brand-aqua: var(--brand-aqua);
  --color-brand-black: var(--brand-ink-black);
  --color-brand-gold: var(--brand-gold);
}

@theme {
  --inset-shadow-md: inset 0 0 10px rgba(0, 0, 0, 0.50);

  /* Headings */
  --font-heading: var(--font-sansDM);

  /* body and UI like buttons,cta */
  --font-body: var(--font-inter);

  /* accent, used rarely */
  --font-accent: var(--font-ibm);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply text-sm lg:text-base leading-normal
}

h1 {
  @apply font-heading text-4xl lg:text-5xl font-bold leading-[1.15]
}
h2 {
  @apply font-heading text-3xl lg:text-4xl font-semibold leading-tight
}
h3 {
  @apply font-heading text-xl lg:text-2xl font-medium leading-[1.3]
}

p {
  @apply max-w-[70ch]
}

@property --num {
  syntax: '<integer>';
  intial-value: 0;
  inherits: false;
}

/* not being used but keep just in case 
diagonal background shape for section */
.section-bg-diagonal {
  position: relative;
  overflow: hidden;
}

.section-bg-diagonal:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--brand-navy);
  clip-path: polygon(
    0% 100%,   /* bottom-left */
    100% 50%,   /* top-right */
    100% 100%  /* bottom-right */
  );
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .section-bg-diagonal:before {
    display: none;
  }
}

#partners,
#hardware {
  scroll-margin-top: 123px;
}

/* logo slider styles */
@keyframes logo-scroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll var(--duration) linear infinite;
}