@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-navy: #0A1258;
  --brand-blue: #4280FC;
  --brand-aqua: #40e0d0;
}

/* might remove the spacing, default is 0.25rem */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-navy: var(--brand-navy);
  --color-brand-blue: var(--brand-blue);
  --color-brand-aqua: var(--brand-aqua);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.section-bg-diagonal {
  position: relative;
  overflow: hidden;
}

.section-bg-diagonal:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--brand-navy);
  clip-path: polygon(
    0% 100%,   /* bottom-left */
    100% 0%,   /* top-right */
    100% 100%  /* bottom-right */
  );
  z-index: -1;
}
